@keyframes pulse {
    0% {outline: 3px solid rgb(45, 155, 230);}
    50% {outline: 3px solid white;}
    100% {outline: 3px solid rgb(45, 155, 230);}
}

a {
/*
    outline: 3px solid rgba(45, 155, 230, 0.6);
*/
}

a:hover {
    animation: pulse 1s  infinite;
}

#index-menu {
    display: flex;
    flex-direction: column;
}

#index-menu > a {
    margin-bottom: 10px;
    height: 20px;
}

.phone-layout {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 750px;
}

.phone-layout__wrapper {
    position: relative;
    aspect-ratio: 9 / 16;
}

.phone-layout__wireframe {
    position: relative;
    width: 100%;
}

.desktop-layout {
    background-color: black;
    margin: 0;
    height: 300px;
    display: flex;
    justify-content: center;
}

.desktop-layout__wrapper {
    position: relative;
    width: 1400px;
}

.desktop-layout__wireframe {
    position: relative;
    width: 100%;
}

/* phone landing */
#phone-landing__home {
    position: absolute;
    top: 82px;
    left: 20px;
}

#phone-landing__home > img {
    width: 120px;
}

#phone-landing__menu {
    position: absolute;
    top: 75px;
    right: 18px;
    color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
}

#phone-landing__footer {
    position: absolute;
    color: rgb(45, 155, 230);
}

#phone-landing__category {
    position: absolute;
    top: 292px;
    right: 15px;
    width: 185px;
    height: 107px;
    color: rgba(0, 0, 0, 0);
}

/* phone footer */
#phone-footer__home {
    position: absolute;
    top: 20px;
    left: 20px;
}

#phone-footer__home > img {
    width: 120px;
}

#phone-footer__menu {
    position: absolute;
    top: 10px;
    right: 17px;
    color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
}

/* phone collapse */
#phone-collapse__home {
    position: absolute;
    top: 82px;
    left: 20px;
}

#phone-collapse__home > img {
    width: 120px;
}

#phone-collapse__menu {
    position: absolute;
    top: 75px;
    right: 18px;
    color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
}

#phone-collapse__category {
    position: absolute;
    bottom: 190px;
    right: 40px;
    width: 342px;
    height: 30px;
    color: rgba(0, 0, 0, 0)
}

/* phone category */
#phone-category__home {
    position: absolute;
    top: 82px;
    left: 20px;
}

#phone-category__home > img {
    width: 120px;
}

#phone-category__menu {
    position: absolute;
    top: 75px;
    right: 18px;
    color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
}

#phone-category__sort-filter {
    position: absolute;
    top: 263px;
    left: 2px;
    color: rgba(0, 0, 0, 0);
    width: 418px;
    height: 39px;
}

/* phone sort filter */
#phone-sort-filter__home {
    position: absolute;
    top: 82px;
    left: 20px;
}

#phone-sort-filter__home > img {
    width: 120px;
}

#phone-sort-filter__menu {
    position: absolute;
    top: 75px;
    right: 18px;
    color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
}

#phone-sort-filter__close {
    position: absolute;
    top: 263px;
    left: 2px;
    color: rgba(0, 0, 0, 0);
    width: 418px;
    height: 39px;
}

#phone-category__product-detail {
    position: absolute;
    top: 303px;
    left: 2px;
    color: rgba(0, 0, 0, 0);
    width: 418px;
    height: 95px;
}

/* phone product detail */
#phone-product-detail__home {
    position: absolute;
    top: 82px;
    left: 20px;
}

#phone-product-detail__home > img {
    width: 120px;
}

#phone-product-detail__menu {
    position: absolute;
    top: 75px;
    right: 18px;
    color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
}

/* desktop landing */
#desktop-landing__home {
    position: absolute;
    top: 83px;
    left: 90px;
}

#desktop-landing__home > img {
    width: 180px;
}

#desktop-landing__footer {
    position: absolute;
    color: rgb(45, 155, 230);
}

#desktop-landing__category {
    position: absolute;
    top: 330px;
    left: 82px;
    width: 230px;
    height: 33px;
    color: rgba(0, 0, 0, 0);
}

#desktop-landing__category-alt {
    position: absolute;
    top: 408px;
    left: 346px;
    width: 210px;
    height: 158px;
    color: rgba(0, 0, 0, 0);
}

/* desktop footer */
#desktop-footer__home {
    position: absolute;
    top: 13px;
    left: 90px;
}

#desktop-footer__home > img {
    width: 180px;
}

#desktop-footer__home > img {
    width: 180px;
}

#desktop-footer__category {
    position: absolute;
    top: 259px;
    left: 82px;
    width: 230px;
    height: 33px;
    color: rgba(0, 0, 0, 0);
}

/* desktop category */
#desktop-category__home {
    position: absolute;
    top: 83px;
    left: 90px;
}

#desktop-category__home > img {
    width: 180px;
}

#desktop-category__product-detail {
    position: absolute;
    top: 427px;
    left: 340px;
    width: 730px;
    height: 100px;
    color: rgba(0, 0, 0, 0);
}

#desktop-category__sort-filter {
    position: absolute;
    top: 335px;
    left: 335px;
    width: 732px;
    height: 45px;
    color: rgba(0, 0, 0, 0);
}

/* desktop sort filter */
#desktop-sort-filter__home {
    position: absolute;
    top: 83px;
    left: 90px;
}

#desktop-sort-filter__home > img {
    width: 180px;
}

#desktop-sort-filter__close {
    position: absolute;
    top: 335px;
    left: 333px;
    width: 735px;
    height: 45px;
    color: rgba(0, 0, 0, 0);
}

/* desktop product detail */
#desktop-product-detail__home {
    position: absolute;
    top: 83px;
    left: 90px;
}

#desktop-product-detail__home > img {
    width: 180px;
}

#desktop-product-detail__category {
    position: absolute;
    top: 330px;
    left: 82px;
    width: 230px;
    height: 33px;
    color: rgba(0, 0, 0, 0);
}

/* other */
.phone-add-to-trolley {
    opacity: 0;
    position: absolute;
    bottom: 36px;
    left: 91px;
    width: 90px;
    height: 30px;
    cursor: pointer;
}

.phone-add-to-trolley:hover {
    opacity: 1;
}

.desktop-add-to-trolley {
    opacity: 0;
    position: absolute;
    top: 690px;
    right: 344px;
    width: 132px;
    height: 45px;
    cursor: pointer;
}

.desktop-add-to-trolley:hover {
    opacity: 1;
}