a:hover {
    outline: 3px solid rgb(45, 155, 230);
}

#index-menu {
    display: flex;
    flex-direction: column;
}

.phone-layout {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 750px;
}

.phone-layout__wrapper {
    position: relative;
    aspect-ratio: 9 / 16;
}

.phone-layout__wireframe {
    position: relative;
    height: 100%;
}

/* phone landing */
#phone-landing__home {
    position: absolute;
    top: 95px;
    left: 20px;
}

#phone-landing__home > img {
    width: 120px;
}

#phone-landing__menu {
    position: absolute;
    top: 88px;
    right: 17px;
    color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
}

#phone-landing__footer {
    position: absolute;
    color: rgb(45, 155, 230);
}

#phone-landing__category {
    position: absolute;
    top: 305px;
    left: 13px;
    width: 185px;
    height: 107px;
    color: rgba(0, 0, 0, 0);
}

/* phone footer */
#phone-footer__home {
    position: absolute;
    top: 20px;
    left: 20px;
}

#phone-footer__home > img {
    width: 120px;
}

#phone-footer__menu {
    position: absolute;
    top: 10px;
    right: 17px;
    color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
}

/* phone collapse */
#phone-collapse__home {
    position: absolute;
    top: 95px;
    left: 20px;
}

#phone-collapse__home > img {
    width: 120px;
}

#phone-collapse__menu {
    position: absolute;
    top: 90px;
    right: 17px;
    color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
}

#phone-collapse__home-alt {
    position: absolute;
    top: 176px;
    right: 25px;
    width: 370px;
    height: 30px;
    color: rgba(0, 0, 0, 0)
}

#phone-collapse__category {
    position: absolute;
    top: 330px;
    right: 25px;
    width: 370px;
    height: 30px;
    color: rgba(0, 0, 0, 0)
}